doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Raian Latif Nabil
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#research') Research
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#projects') Academic Projects
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='../assets/nabil.pdf') Resume
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#contact') Contact


        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Raian 
                        span.text-secondary  Latif Nabil
                    p.lead.mb-5
                        | I am currently working as a software engineer at 
                        a(href="https://openrefactory.com") OpenRefactory, Inc.
                        |, a Silicon Valley-based deep-tech software company that focuses on automatically fixing security, reliability, and compliance bugs. 
                    p.lead.mb-5
                        | My research interest focuses on Software Engineering, Software Security and Programming Language
                    p.lead.mb-5
                        | I received my Bachelor of Science degree in Computer Science and Engineering from 
                        a(href="https://www.buet.ac.bd/web/#/") Bangladesh University of Engineering and Technology
                        |in 2021
                    .social-icons
                        a.social-icon(href='mailto:raianlatif1151041@gmail.com')
                            i.fas.fa-envelope
                        a.social-icon(href='https://www.linkedin.com%2Fin%2Fraian-latif-nabil-81ab36208')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/nabil94')
                            i.fab.fa-github
                        a.social-icon(href='https://gitlab.com/RaianLatifNabil')
                            i.fab.fa-gitlab

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Bangaldesh University of Engineering and Technology
                            .subheading.mb-3 Bachelor of Science
                            div Computer Science and Engineering
                            p CGPA: 3.51/4.00
                        .flex-shrink-0
                            span.text-primary February 2016 - February 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Notre Dame College, Dhaka
                            .subheading.mb-3 Higher Secondary Certificate
                            p GPA: 5.00/5.00
                        .flex-shrink-0
                            span.text-primary July 2013 - June 2015

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 Openrefactory, Inc
                            div
                            p
                                | Worked on Intelligent Code Repair (iCR), which is a static analysis-based bug detection engine that (1) detects bugs that other tools miss, (2) does that with dramatically low false warnings, and (3) is the first and only tool in this space that can also synthesize fixes automatically for over half of all the bugs detected. Worked on iCR for Java and Python.
                                | Key responsibilities include - 
                            ul
                                li writing fixer for both Java and Python
                                .mb-3
                                li packaging iCR products on different platforms
                                .mb-3
                                li investigating and integrating new technologies, platforms, and SDKs
                                .mb-3

                            p   
                                | Some Major Contribution: 
                            ul
                                li Contributed to integration of iCR with different version controlling clouds and enterprise
                                .mb-3
                                li Design and implement a systems to use iCR as a part of different CI/CD pipelines
                                .mb-3
                                li Contributed to licensing schemes for products on different platforms
                                .mb-3
                                li Contributed to creating a Kubernetes-based deployment of iCR.
                                .mb-3
                        .flex-shrink-0
                            span.text-primary July 2021 - Present
            hr.m-0

            //research
            section#research.resume-section
                .resume-section-content
                    h2.mb-5 Research

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 CD-MAWS: An Alignment-free Phylogeny Estimation Method Using Cosine Distance on Minimal Absent Word Sets
                            .subheading.mb-3 Co-Authors:  Naser Anjum, Rakibul Islam Rafi, Md. Shamsuzzoha Bayzid, and M Saifur Rahman
                            div Multiple sequence alignment has been the traditional and well established approach of sequence analysis and comparison, though it is time and memory consuming. As the scale of sequencing data is increasing day by day, the importance of faster yet accurate alignment-free methods is on the rise. Several alignment-free sequence analysis methods have been established in the literature in recent years, which extract numerical features from genomic data to analyze sequences and also to estimate phylogenetic relationship among genes and species. Minimal Absent Word (MAW) is an effective concept for representing characteristics of a sequence in an alignment-free manner. In this study, we present CD-MAWS, a distance measure based on cosine of the angle between composition vectors constructed using minimal absent words, for sequence analysis in a computationally inexpensive manner. We have benchmarked CD-MAWS using several AFProject datasets, such as Fish mtDNA, E.coli, Plants, Shigella and Yersinia datasets, and found it to perform quite well. Applied on several other biological datasets such as mammal mtDNA, bacterial genomes and viral genomes, CD-MAWS resolved phylogenetic relationships similar to or better than state-of-the-art alignment-free methods such as Mash, Skmer, Co-phylog and kSNP3.
                
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Different Approaches to Sequence Comparison Methods for Phylogenetic Tree Estimation
                            .subheading.mb-3 Co-Authors: Naser Anjum, Rakibul Islam Rafi and M Saifur Rahman
                            div Phylogenetics is a study that concerns with the inference of evolutionary history and relationship between the organisms. Over the years, phylogenetics has been an important research topic in both Biology and Computer Science. Its application is wide ranging as it is used in evolutionary pattern finding, species classification, forensics, medicine etc. The phylogenetic relations are inferred by analyzing similarities and dissimilarities of heritable traits (DNA sequences, morphology etc.) between different species. DNA Sequence comparison is an widely used method of phylogeny reconstruction as we can leverage the power of machine computation by introducing different sequence comparison algorithms of different complexity. These sequence comparison methods are two-fold - Alignment-based methods and alignment-free methods. Consequently, our research focus has been two-fold as well. Additionally, there is a case of choosing between applying the methods either on the whole genome sequence or on some meaningful subsets of the whole sequence. It normally depends on the complexity of the chosen method and the computational scope of the working machine.
            
            //research
            section#projects.resume-section
                .resume-section-content
                    h2.mb-5 Selected Academic Projects

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                    .flex-grow-1
                    h3.mb-0 Bachelor-bari
                    .social-icons
                    a.social-icon(href='https://github.com/nabil94/Project')
                        i.fab.fa-github
                    | Tools : Laravel, PHP, HTML, CSS
                    p   
                    |   developed a web platform to find accomodation for bachelors

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                    .flex-grow-1
                    h3.mb-0 E-book store
                    .social-icons
                    a.social-icon(href='https://github.com/nabil94/E_Book_Store')
                        i.fab.fa-github
                    | Tools : Spring boot, Spring MVC, Java, Thymeleaf, MySQL
                    p   
                    |   developed an online book store platform where user can buy books

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                    .flex-grow-1
                    h3.mb-0 Automated Water Irrigation System
                    .social-icons
                    a.social-icon(href='https://www.youtube.com/watch?v=mYKr8xIS0Zs')
                        i.fab.fa-youtube
                    | Tools : Microcontroller, Sonar sensor, Moisture Sensor
                    p   
                    |   A watering system that can be applied in the garden
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                    .flex-grow-1
                    h3.mb-0 Sign Language Alphabet Recognition
                    | Tools : Python, Keras, Tensorflow, Android
                    p   
                    |   Using deep learning model, sign language alphabet is recognised. ASL Dataset was used here.


            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    li
                        b Languages:
                        |  Java, C, C++, Python, JavaScript, TypeScript, Matlab, Shell, PHP
                    .mb-3
                    li
                        b Frameworks:
                        |  Node js, React, Springboot, Laravel, JavaFX, OpenGL
                    .mb-3
                    li
                        b Database:
                        |  MySQL, SQLite, MongoDB
                    .mb-3
                    li
                        b Deep Learning Framework:
                        |  Keras, Tensorflow, Scikit Learn, Pytorch, Trax
                    .mb-3
                    li
                        b DevOps:
                        |  Jenkins, Docker, Kubernetes, Github CI, Gitlab CI
                    .mb-3
                    li
                        b Clouds:
                        |  Amazon EC2, S3 Bucket, Azure, Linode
                    .mb-3
                    li
                        b Technical Writings:
                        |  LaTeX, Overleaf
                    .mb-3


            // Awards
            section#contact.resume-section
                .resume-section-content
                    h2.mb-5 Contact 
                        h3.subheading.mb-3 Shuru Campus, Wakil Tower, 8th Floor, Ta-131, Gulshan-Badda Link Road, Dhaka 1212, Bangladesh
                        a(href="mailto:raianlatif1151041@gmail.com") raianlatif1151041@gmail.com
        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')